{% extends "./base.html" %}
{% block layout %}
<header class="container bg-dark text-light p-3">
    <div class="row">
        <div class="col-3">
            <a href="{% url 'polls:index' %}">Poll-app!</a>
        </div>
        <div class="col-6">
            
        </div>
        <div class="col-3">
            <a href="{% url 'polls:create' %}">Create new poll!</a>
        </div>
    </div>
</header>

<div class="container p-3 my-3 text-light bg-dark">
    {% block content %}
    {% endblock%}
</div>
<footer class="bg-dark text-light p-3">Footer!</footer>
{% endblock %}
