<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div>
    <h1>Polluruu!</h1>
    <h2>Latest questions</h2>
    {% if questions %}
        <ul>
            {% for question in questions %}
            <li><a href="{% url 'polls:details' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
    <p>No questions yet... Go create one! :)</p>
    {% endif %}
</div>
</body>
</html>
